<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TakeCare</title>
    <link rel="stylesheet" th:href="@{assets/css/bootstrap.min.css}" />
    <link rel="shortcut icon" th:href="@{assets/image/logo.png}" type="img/png" />
</head>


<body style="background-color: #FEFEFE;">
    <nav class="navbar navbar-expand-lg navbar-light m-4">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{index}">
                <img th:src="@{assets/image/logo.png}" style="width: 50px;" />
                TakeCare
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="shop">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="doctor">Doctor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blog">Blog</a>
                </li>
                <button class="btn-primary">
                    Login
                </button>
            </ul>
        </div>
    </nav>
    <script th:src="@{assets/js/bootstrap.bundle.min.js}"></script>
</body>

</html>